.container {
  max-width: 1256px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 0.065rem + 3.738vw, 3rem);
}

.header,
.about,
.footer {
  background-color: var(--color-gray-1);
}

.banner,
.faq,
.comments {
  background-color: var(--color-gray-2);
}

.banner {
  padding-block: clamp(4rem, -1.14rem + 20.561vw, 15rem);
}

.about,
.faq,
.comments {
  /* padding: clamp(1rem, -0.869rem + 7.477vw, 5rem); */
  padding: clamp(1rem, -0.402rem + 5.607vw, 4rem);
}
