.container {
  max-width: 1256px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 0.065rem + 3.738vw, 3rem);
}

.header,
.about,
.footer {
  background-color: var(--color-gray-1);
}

.banner,
.faq,
.comments {
  background-color: var(--color-gray-2);
}

.banner,
.about,
.faq,
.comments {
  padding-block: clamp(4rem, -1.14rem + 20.561vw, 15rem);
}
