@import url("./header.css");
@import url("./banner.css");
@import url("./about.css");
@import url("./faq.css");
@import url("./comments.css");
@import url("./footer.css");

.header,
.about,
.footer {
  background-color: var(--color-gray-1);
}

.banner,
.faq,
.comments {
  background-color: var(--color-gray-2);
}

.banner,
.about,
.faq,
.comments {
  padding-block: clamp(4rem, -1.14rem + 20.561vw, 15rem);
}
